<div>
  <!-- toolbar -->
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Registrar</span>
    <span class="example-spacer"></span>

    <button mat-icon-button aria-label="account_circle icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <!-- sidenav container -->
  <mat-sidenav-container color="primary">
    <!-- sidenav  -->
    <mat-sidenav mode="side" opened>
      <!-- Students -->
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>manage_accounts</mat-icon>
              <div mat-line>Student</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <div>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <div mat-line>Student</div>
              </mat-list-item>
              <mat-list-item routerLink="/students">
                <mat-icon mat-list-icon>view_list</mat-icon>
                <div mat-line>Students</div>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <!-- Courses -->
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>subject</mat-icon>
              <div mat-line>Courses</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <div>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <div mat-line>Course</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>view_list</mat-icon>
                <div mat-line>Courses</div>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <!-- Classes -->
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>school</mat-icon>
              <div mat-line>Classes</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <div>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <div mat-line>Class</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>view_list</mat-icon>
                <div mat-line>Classes</div>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <!-- Test -->
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>quiz</mat-icon>
              <div mat-line>Test</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <div>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <div mat-line>Class</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>view_list</mat-icon>
                <div mat-line>Classes</div>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <!-- main content -->
    <mat-sidenav-content style="height: 100vh">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- <router-outlet></router-outlet> -->

<!-- <app-students></app-students> -->
<!-- <app-messages></app-messages> -->
