<div>
  <!-- //// FIRST SECTION ////// -->
  <!-- <label for="name">Studnet name: </label>
  <input id="name" [(ngModel)]="student.firstName" placeholder="name" />

  <h2>{{ student.firstName | uppercase }} Detais</h2> -->

  <!-- /// SECOND SECTION ///// -->

  <h2>All Students</h2>
  <ul>
    <li *ngFor="let student of students">
      <a routerLink="/students/{{ student.id }}">
        <span>{{ student.id }} </span>
        <span>{{ student.firstName }} </span>
      </a>
    </li>
  </ul>

  <!-- <app-student-detail [student]="selectedStudent"></app-student-detail> -->

  <!-- <div *ngIf="selectedStudent">
    <h2>{{ selectedStudent.firstName | uppercase }} Details</h2>
    <div>id: {{ selectedStudent.id }}</div>
    <div>
      <label for="student-name">Student name: </label>
      <input
        id="student-name"
        [(ngModel)]="selectedStudent.firstName"
        placeholder="name"
      />
    </div>
  </div> -->
</div>
